<article class="tile" itemscope itemtype="http://schema.org/Article">
  <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}" class="post-teaser">
  {% if post.image.teaser %}<img src="{{ site.url }}/images/{{ post.image.teaser }}" alt="teaser" itemprop="image">{% else %}<img src="{{ site.url }}/images/{{ site.teaser }}" alt="teaser" itemprop="image">{% endif %}</a>
  <h2 class="post-title" itemprop="name"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
  {% if post.date %}<p class="entry-date date published"><time datetime="{{ post.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></p>{% endif %}
  {% assign readtime = post.content | number_of_words | divided_by:200 %}
  <p class="time"><i class="fa fa-clock-o"></i> Reading time ~{% if readtime <= 1 %}1 min{% else %}{{ readtime }} min{% endif %}</p>
  {% if post.tags %}<p class="tags">{% for tag in post.tags %}<a href="{{ tag | slugify | prepend: '/tag/#' }}" class="tags" title="{{ tag }}" rel="tag">{{ tag }}</a>{% unless forloop.last %} ⋅ {% endunless %}{% endfor %}</p>{% endif %}


</article><!-- /.tile -->
