// MASTHEAD
// --------------------------------------------------

#masthead {
	padding: $gutter;
	z-index: 5;
	@include transform(translate(0,0));
	@include transition(500ms cubic-bezier(.645,.045,.355,1.000));
	&.slide {
		@include transform(translate(-1600px,0));
	}
	.inner-wrap {
		@include outer-container;
	}
}
.site-title {
	@include row;
	@include media($large) {
		@include span-columns(4);
	}
	padding: (.25 * $masthead-height) 0; // fourth the height to center vertically
	height: $masthead-height;
	text-decoration: none;
	color: lighten($black,30);
	font-family: $alt-font;
	font-weight: 700;
	@include font-size(20,no);
	line-height: .5 * $masthead-height; // half the height to center vertically
	text-transform: uppercase;
}


// NAVIGATIONS
// --------------------------------------------------

.menu {
	li {
		float: left;
		&:last-child a {
			@include media($medium) {
				margin-right: 0; // remove spacing from last menu link
			}
		}
		a {
			// line hover effect
			position: relative;
			display: block;
			margin-right: $gutter;
			padding: (.25 * $masthead-height) 0 (.25 * $masthead-height) ;
			height: $masthead-height;
			font-family: $alt-font;
			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				height: 2px;
				@include transition(width 0.3s);
			}
			&:before {
				width: 100%;
				background: transparent;
			}
			&:after {
				width: 0;
				background: $primary-color;
			}
			&:active:after,
			&:hover:after {
				width: 100%;
			}
		}
	}
}

.top-menu {
	display: none;
	position: relative;
	@include media($medium) {
		@include span-columns(12);
	}
	@include media($large) {
		@include span-columns(7);
		ul {
			position: absolute;
			right: 0;
		}
	}
	.home,
	.sub-menu-item {
		display: none;
	}
	li {
		a {
			font-weight: 700;
			@include font-size(16,no);
			line-height: .5 * $masthead-height; // half the height to center vertically
			color: lighten($black,30);
			text-transform: uppercase;
		}
	}
}
.bottom-menu {
	@include clearfix;
	font-weight: 700;
	a {
		color: lighten($black,60);
	}
}

// PAGE WRAPPER
// --------------------------------------------------

#page-wrapper {
	padding: 0 $gutter; // add white space for smaller screens
	@include size(100% 100%);
	-webkit-overflow-scrolling: touch;
	z-index: 2;
	@include transform(translate(0,0));
	@include transition(500ms cubic-bezier(.645,.045,.355,1.000));
	&.slide {
		@include transform(translate(-60rem,0));
	}
}


// BROWSER UPGRADE
// --------------------------------------------------

.upgrade {
	text-align: center;
	a {
		text-decoration: none;
	}
}


// MAIN
// --------------------------------------------------

#main {
	.inner-wrap {
		@include media($medium) {
			@include span-columns(11);
		}
	}
	.toc {
		@include media($medium) {
			@include row($direction: RTL);
		}
		@include media($large) {
			@include span-columns(2 of 9);
		}
	}
	.page-title {
		@include fill-parent;
	}
	@at-root {
		.page-content {
			@include media($medium) {
				@include row($direction: RTL);
				//@include span-columns(7 of 9);
			}
			@include media($large) {
				@include span-columns(7 of 9);
			}
			// larger font for intro paragraph
			> p {
				&:first-child {
					@include font-size(18,yes,30);
				}
			}
			// cleaner underlines for links
			a { text-decoration: none; }
			p > a,
			li > a {
				border-bottom: 1px dotted lighten($link-color, 50);
				&:hover {
					border-bottom-style: solid;
				}
			}
			p > a.reversefootnote {
				border-bottom-width: 0;
			}
			.page-footer,
			.pagination {
				@include fill-parent;
			}
			.page-meta {
				p{
					@include font-size(14,no);
					font-family: $alt-font;
					color: lighten($black,60);
				}
			}
		}
	}
	@at-root {
		.archive-wrap {
			@include fill-parent;
			.page-content {
				@include reset-all;
				@include fill-parent;
			}
		}
	}
	.ads {
		position: relative;
		text-align: center;
		margin-top: $gutter;
		margin-left: -$gutter;
		margin-right: -$gutter;
		padding: 10px 0 20px;
		background: lighten($border-color,5);
		@include media($medium) {
			@include span-columns(3);
			margin-left: 0;
			margin-right: 0;
		}
		&:after {
			content: 'Advertisement';
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;
			display: block;
			@include font-size(9,no);
			font-family: $alt-font;
		}
		ins {
			border-width: 0;
		}
	}
}
// page lead
.page-lead {
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
    color: $black;
	@include media($large) {
		background-size: cover;
	}
}
.page-lead-content {
	padding: 1em;
	@include media($medium) {
		padding: 2em;
	}
	@include media($large) {
		padding: 3em;
	}
	h1 {
        color: $highlight-color;
		@include font-size(42);
		@include media($medium) {
			@include font-size(60);
		}
		@include media($large) {
			@include font-size(72);
		}
	}
	h2 {
        color: $white;
		@include font-size(20);
		@include media($medium) {
			@include font-size(24);
		}
		@include media($large) {
			@include font-size(32);
		}
	}
}

// standard page header
.page-header {
  overflow: auto; // fix collapsing margin
  .page-title {
    @include fill-parent;
    h1 {
      margin-top: $gutter;
      margin-bottom: 0;
    }
    h2 {
      font-weight: 400;
      margin-top: 0;
      @include media($micro-only) { @include font-size(22,yes,1.25); }
      @include font-size(28,yes,1.25);
    }
  }
}
// feature image page header
.page-feature-header {
  @include fill-parent;
  position: relative;
  margin-bottom: $gutter;
  // expand image to cover full width of header
  img {
    width: 100%;
  }
  &.overlay .page-title {
    @include media($medium) {
      position: absolute;
      bottom: 5%;
      z-index: 1;
      @include span-columns(10);
    }
  }
  h1 {
    margin-bottom: 0;
    @include media($medium) {
      @include font-size(30,yes,30);
    }
    @include media($large) {
      @include font-size(42,yes,42);
    }
  }
  &.overlay h1 {
    @include media($medium) {
      position: relative;
      color: $white;
      text-shadow: 1px 1px 0 $black;
      &:before {
        position: absolute;
        content: '';
        width: 100px;
        height: 2px;
        background: $white;
        top: -0.5em;
      }
    }
  }
  h2 {
    margin-top: 0;
    font-weight: 400;
    @include media($micro-only) { @include font-size(22,yes,1.25); }
    @include font-size(28,yes,1.25);
  }
  &.overlay h2 {
    @include media($medium) {
      color: $white;
      text-shadow: 1px 1px 0 $black;
    }
  }
  &.overlay .page-meta {
    @include media($medium) {
      span {
        color: $white;
        text-shadow: 1px 1px 0 $black;
        a {
          color: $white;
        }
      }
    }
  }
}
// make image flush with edges on small screens
.page-image {
  position: relative;
  margin-left: -1 * $gutter;
  margin-right: -1 * $gutter;
  @include media($medium) {
    margin-left: -2 * $gutter;
    margin-right: -2 * $gutter;
  }
  @include media($large) {
    margin-left: -2.5 * $gutter;
    margin-right: -2.5 * $gutter;
  }
  // Feature Image Caption
  .image-credit {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    padding: 0px 2px;
    background-color: rgba($black,.4);
    color: rgba($white,0.7);
    font-family: $alt-font;
    @include font-size(9,no);
    text-align: right;
    z-index: 10;
    a {
      color: rgba($white,0.7);
      text-decoration: none;
    }
  }
}
.overlay .page-image {
  &:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include background-image(linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.4) 70%,rgba(0,0,0,0.75) 100%));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#e6000000',GradientType=0 ); /* IE6-9 */
    @include transition(opacity 1s ease-in-out 0.2s);
  }
}

// page meta and breadcrumbs
.page-meta {
  @include clearfix;
  margin-top: $gutter;
  font-family: $alt-font;
  @include font-size(12,yes,21);
  text-align: left;
  text-transform: uppercase;
  a {
    display: inline-block;
    text-decoration: none;
  }
}

// breadcrumbs
.breadcrumbs {
	@include row;
	margin-top: $gutter;
	@include font-size(10,no);
	a {
		display: inline-block;
		font-family: $alt-font;
		font-weight: 700;
		text-align: left;
		text-transform: uppercase;
	}
}
// table of contents
.toc {
	min-height: 1px;
	ul {
		margin-top: $gutter;
		border: 1px solid $border-color;
		border-radius: $border-radius;
	}
	li {
		@include media($micro) { @include font-size(16,no,18); }
    @include media($small) { @include font-size(16,no,18); }
		@include font-size(12,no,16);
		border-bottom: 1px solid $border-color;
	}
	font-family: $alt-font;
	a {
		display: block;
		padding: (.25 * $gutter) (.5 * $gutter);
		border-left: 2px solid transparent;
		&:hover,
		&:focus {
			background: lighten($border-color,5);
		}
	}
}
// tiles
.tile {
	@include outer-container;
	margin-bottom: $gutter;
	@include media($micro) {
		@include fill-parent;
	}
	@include media($small) {
		@include span-columns(6);
		@include omega(2n);
	}
	@include media($medium) {
		@include span-columns(3);
		@include omega(4n);
	}
	.entry-date {
		@include font-size(14,no);
		color: lighten($text-color,25);
        margin-bottom: 0;
        margin-top: 4px;
        font-family: $alt-font;
	}
    .tags {
        @include font-size(10,yes);
        font-family: $alt-font;
        color: lighten($black,60);
        text-transform: uppercase;
        margin-top: -2px;
    }
    .time {
        @include font-size(10,yes);
        font-family: $alt-font;
        color: lighten($black,60);
        margin-top: -2px;
        margin-bottom: 0px;
    }
	.post-title {
		@include font-size(18,no);
        border-top: 1px solid $text-color;
	}
	.post-excerpt {
		@include font-size(16);
	}
	.post-teaser {
		position: relative;
		display: block;
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba($base-color,0);
			pointer-events: none;
			@include transition(background 0.3s);
		}
		&:hover {
			&:after {
				background: rgba($base-color,0.2);
			}
		}
	}
}
// footnotes
.footnotes {
	font-family: $alt-font;
	p, li {
		@include font-size(12,no);
	}
	&:before {
		content: 'Footnotes:';
		font-weight: 700;
	}
}
// page footer
.page-footer {
	position: relative;
}
.author-image {
	position: absolute;
	left: 0;
	img {
		width: 80px;
		height: 80px;
		border-radius: $border-radius;
	}
}
.author-content {
	word-wrap: break-word;
	padding-left: 100px; //avatar width + 20px padding
	min-height: 80px; //mirrors avatar height
}
.author-name {
	@include font-size(20,no);
}
.author-bio {
	margin-top: 0;
	@include font-size(16);
}


// SCROLL ARROW CUE
// --------------------------------------------------

#scroll-cue {
	position: fixed;
	bottom: 100px;
	@include media($short) {
		bottom: 0;
	}
	left: 50%;
	width: 2 * $button-size;
	height: 2 * $button-size;
	text-align: center;
	cursor: pointer;
	color: $white;
	@include font-size(12);
	font-family: $alt-font;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	letter-spacing: 2px;
}


// FOOTER
// --------------------------------------------------

#site-footer {
	@include outer-container;
	margin-top: (3 * (0px + $doc-line-height));
	margin-top: (3 * (0rem + ($doc-line-height / $doc-font-size)));
	padding-bottom: $gutter;
	font-family: $alt-font;
	.copyright {
		@include font-size(12);
		color: lighten($black,60);
		a {
			color: lighten($black,60);
			text-decoration: none;
		}
	}
}

// STYLED LIST
// --------------------------------------------------

.unstyled-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

.unstyled-list li {
  margin-top: 24px;
  list-style-type: none;
  *zoom: 1;
}

.unstyled-list li:before,
.unstyled-list li:after {
  display: table;
  line-height: 0;
  content: "";
}

.unstyled-list li:after {
  clear: both;
}

@media only screen and (min-width: 48em) {
  .unstyled-list li {
    margin-top: 0;
  }
}

.unstyled-list h1,
.unstyled-list h4,
.unstyled-list p {
  margin: 0;
}

.unstyled-list h1 {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.2632;
}

.unstyled-list h4 {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.2632;
}

.unstyled-list .entry-meta {
  clear: none;
  @include font-size(14,yes,22);
  text-indent:0.5em;
  font-style: italic;
  color: lighten($text-color, 20);
}

.unstyled-list .preview{
    vertical-align: center;
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    margin-left: -0.5rem;
    border: 3px solid #ccc;
    z-index : 0;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
}

@media only screen and (min-width: 48em) {
    .unstyled-list .preview {
        float: left;
        width: 70px;
        height: 70px;
        margin-right: 1rem;
    }
}

.unstyled-list .oabadge {
  float: left;
  width: 30px;
  margin-left: -12px;
  margin-top: -4px;
  position: absolute;
  z-index : 10;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
}

@media only screen and (min-width: 48em) {
  .unstyled-list .oabadge {
    float: left;
    width: 45px;
    margin-top: -12px;
    margin-left: -10px;
    margin-right: -25px;
    z-index : 10;
   -webkit-border-radius: 45px;
      -moz-border-radius: 45px;
           border-radius: 45px;
  }
}

.unstyled-list li:hover {
    transition: width 0.2s, height 0.2s;
    .preview {
        border: 4px solid $text-highlight;
    }
    .oabadge {
        opacity: 0.8;
    }
    h1 {
        color: $text-highlight;
    }
    p {
        color: $text-highlight;
    }
}

// Papers page
// --------------------------------------------------
.papers {
    float: left;
    display: inline-block;
    width: calc(100% - 58px);
    text-decoration: none;
    margin-top: 1rem;
    h1 {
        font-weight: 70;
        @include font-size(20);
        margin-bottom: 0.5em;
    }
    p {
        @include font-size(16);
    }
}

.papers-preview {
    width: 58px;
    float:left;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 48em) {
    .papers {
        float: left;
        display: inline-block;
        width: calc(100% - 96px);
        text-decoration: none;
        margin-top: 1rem;
        h1 {
            font-weight: 70;
            @include font-size(20);
            margin-bottom: 0.5em;
        }
        p {
            @include font-size(16);
        }
    }

    .papers-preview {
        width: 96px;
        float:left;
        display: inline-block;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.papers-hr {
    display: block;
    clear: both;
    position: relative;
    margin: 0;
    margin-top: -1rem;
    /*margin: 0px + (2 * $doc-line-height) 0;*/
    /*margin: 0rem + ((2 * $doc-line-height) / $doc-font-size) 0;*/
    padding: 0;
    height: 5px;
    border: 0;
/*    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 2 * $column;
        height: 1px;
        background: $border-color;
    }
*/}

// homepage recents
// --------------------------------------------------

.entry {

}

.entry-wrapper {
    max-width: 440px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
    *zoom: 1;
    text-decoration: none;
}

@media only screen and (min-width: 48em) {
    .entry-wrapper {
        max-width: 760px;
        padding-right: 60px;
        padding-left: 60px;
        margin-bottom: 3em;
    }
}

.entry-item .preview{
    vertical-align: center;
    float: right;
    width: 70px;
    height: 70px;
    margin-right: 0.5rem;
    border: 3px solid #ccc;
    z-index : 0;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
}

@media only screen and (min-width: 48em) {
    .entry-item .preview {
        float: left;
        width: 70px;
        height: 70px;
        margin-right: 1rem;
    }
    .entry-item .description {
        p {
            text-indent:1em;
        }
    }
}


.entry-item .description{
    position: relative;
    display: inline-block;
    @include font-size(14);
    p {
        @include font-size(14, no, 24);
        color: lighten($text-color, 20);
    }
}

.entry-item:hover {
    transition: width 0.2s, height 0.2s;
    .preview {
        border: 4px solid $text-highlight;
    }
    .description {
        h1 {
            font-style: bold;
            color: $text-highlight;
        }
        p {
            color: $text-highlight;
        }
    }
}



// OSCAR'S ADDITIONS
// --------------------------------------------------

// Strava float
.strava {
    @include outer-container;
    position: absolute;
    right: 0;
    padding: $gutter;
}

// Travel Badge
.travel-badge {
    position: absolute;
    padding: 0.5 * $gutter;
    z-index: 10;
    right: 1%;
    bottom: 2%;
    width: 20%;
}
/*
// Remove underline from unstyled list on home page
.no-underline {
      text-decoration: none;
}*/

.mouseover {
    background: rgba($base-color,0);
    @include transition(background 0.3s);
    &:hover {
        &:after {
            background: rgba($base-color,0.2);
        }
    }
}
